/* Import widget CSS */
@import url("widgets/header.css");
@import url("widgets/sidebar.css");
@import url("widgets/footer.css");

/* Main CSS */
:root {
  /* Colors */
  --color-primary: #d35400e0;      /* Brick Orange */
  --color-secondary: #b33212e3;    /* Maroon */
  --color-tertiary: #2b2b2bd2;     /* Black */
  --color-background: #e5e5e5ff;   /* White */

  /* Typography */
  --font-size-base: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- Body --- */
body {
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 1rem; /* use rem for scaling */
  line-height: 1.5rem;
}

/* --- Layout --- */
.layout {
  display: flex;
  min-height: 100vh;
}

/* --- Main Content --- */
.main-content {
  flex: 1; /* fills remaining space */
  padding: 2rem;
  background: var(--color-background);
  /* transition: all 0.3s ease; */
}
